.contact {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 2rem;
}

.contact > input {

   text-align: center;
}

.contact > textarea {
   resize: none;
}

.contact > input,
.contact > textarea {
   width: 100%;

   padding: 1rem 2rem;

   font-size: 1.8rem;

   border: 0.1rem solid var(--light-grey);
   border-radius: 0.5rem;

   transition: border-color 0.2s ease-in-out;
}

.contact > input:focus,
.contact > textarea:focus {
   border-color: var(--light-main-color);
}

.contact > button {
   width: 30%;

   padding: 1rem 3rem;
   margin: 0 auto;

   font-size: 2rem;
   font-weight: 500;
   letter-spacing: 0.1rem;
   text-transform: uppercase;

   background-color: var(--main-color);

   border-radius: 2rem;

   cursor: pointer;

   transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.contact > button:hover {
   color: #FFFFFF;
   background-color: var(--dark-main-color);
}

.contact-span-2 {
   grid-column: span 2;
}