.info {
   padding: 4rem 8%;

   display: grid;
   grid-template-columns: repeat(4, 1fr);
   column-gap: 5rem;

   background-color: var(--main-color);
}

.info-element {
   display: flex;
   flex-direction: column;
   align-items: center;
   row-gap: 1rem;
}

.info-img {
   display: flex;

   margin-bottom: 2rem;
}

.info-img > img {
   width: 100%;
}

.info-title,
.info-data {
   text-align: center;
}

.info-title {
   font-size: 2rem;
   font-weight: 600;
   text-transform: uppercase;
   letter-spacing: 0.1rem;

   color: #FFFFFF;
}

.info-data {
   line-height: 120%;

   color: var(--light-main-color);
}