.top-btn {
   position: fixed;
   right: 3rem;
   bottom: 3rem;

   font-size: 3rem;

   width: 5rem;
   height: 5rem;

   border-radius: 50%;

   display: flex;
   align-items: center;
   justify-content: center;

   color: #FFFFFF;
   background-color: var(--dark-main-color);

   box-shadow: 0 0 1rem 0.5rem rgba(0, 0, 0, 0.5);
}